.searchBarContainer{
    padding: 1rem;
}

.searchBar {
    display: flex;
    width: 88.88%;
    height: 62px;
    border: 1px solid #9198A1;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    padding: 0 0.3rem;
    background-color: #000;
}

.searchIcon {
    width: 24px;
    height: 24px;
}

#usernameInput {
    background-color: #010409;
    border: none;
    font-style: italic;
    color: #fff;
    height: 46px;
    flex: 1;
    border-radius: 8px;
    font-size: 18px;
}

#usernameInput:focus {
    border: none;
    box-shadow: none;
    outline: none;
    font-style: normal;
}

.clearButton {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

@media (min-width: 768px){
    .searchBar {
        width: 665px;
    }
}

@media (min-width: 1024px){
    .searchBar {
        width: 800px;
    }
}