
.searchBar {
    display: flex;
    width: 88.88%;
    height: 48px;
    border: 1px solid #9198A1;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    border-radius: 8px;
}
.searchIcon {
    width: 24px;
    height: 24px;
}

#usernameInput {
    background-color: #010409;
    border: none;
    font-style: italic;
    color: #fff;
    height: 46px;
    flex: 1;
    border-radius: 8px;
}

#usernameInput:focus {
    border: none;
    box-shadow: none;
    outline: none;
    font-style: normal;
}

.clearButton {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

